@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Rendering
@model PartsUnlimited.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}
<div class="vertical-spreader60"></div>
<section class="justify-div-center card-shadow" style="width: 90% !important;">
    <h2 class="text-in-center">Address And Payment</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
            <div class="justify-div-center">
                <div class="justify-div-center">
                    <h4 class="text-in-center">Shipping Information</h4>
                </div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State" })
                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Postal Code" })
                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
                <div class="justify-div-center">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "Country" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                </div>
                <div class="vertical-spreader15"></div>
            </div>
            <div class="justify-div-ceter">
                <div class="justify-div-center">
                    <h4 class="text-in-center">Payment</h4>
                </div>
                <div class="justify-div-center" >
                    <p class="text-in-center">We're running a promotion.</p>
                    <p class="text-in-center">All parts are free with the promo code: "FREE"</p>
                </div>
                <div class="justify-div-center">
                    @Html.TextBox("PromoCode", null, new { @class = "form-control", placeholder = "Promo Code" })
                </div>

                <div class="justify-div-center">
                    <input type="submit" value="Submit Order" class="justify-div-center" />
                </div>

        </div>
        </div>
}
</section>
<div class="vertical-spreader30"></div>
