@using System.Globalization
@using PartsUnlimited
@using Microsoft.DotNet.InternalAbstractions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Home.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Account.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ShoppingCart.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Store.css" rel="stylesheet" type="text/css" />
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title – Parts Unlimited</title>
    @await Component.InvokeAsync("Configuration") 

</head>
<body class="layout-bg-color">
    <div>
        <header id="header-id" style="z-index: 1;">
        <div id="nav-div" class="nav-bar">
            <div class="nav-content">
                <a href="@Url.Action("Index", "Home")" class="one">
                    <img src="../../images/unlimited_logo.png" alt="parts unlimited" style="width: 210px;height: 60px; padding: 3px;">
                </a>
                <!-- <div class="three-divs">
                    <div class="img-div">
                        <a href="@Url.Action("Index", "Home")" class="one">
                            <img src="../../images/unlimited_logo_trim.png" alt="parts unlimited" height="80px" width="150px" />
                        </a>
                    </div>
                </div>
                 -->
                <!-- <div class="collapse navbar-collapse md-top-8" id="collapse-header-nav">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                                            {
                                                @Html.TextBox("q", null, new { @class = "input-area", id = "search-box", placeholder = "Search..." })
                                            }
                    <i class="fas fa-search input-logo"></i>

                </div> -->
            <div class="three-divs">
                <!-- <input type="text" class="input-area" placeholder="Search for Item" /> -->
                 @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                                        {
                                            @Html.TextBox("q", null, new { @class = "input-area", id = "search-box", placeholder = "Search for Item" })
                                        }
                <i class="fas fa-search input-logo"></i>
            </div>

                <!-- <div class="collapse navbar-collapsemd-top-8 " id="collapse-header-nav">
                    <ul class="nav navbar-nav navbar-right">
                                    <li><a href="@Url.Action("Index", "Home")" class="head-link" id="home-link">Home</a></li>
                                    @await Component.InvokeAsync("CartSummary")
                                    @await Html.PartialAsync("_AdminMenu")
                                    @await Html.PartialAsync("_Login")
                                    <li class="dropdown visible-xs">
                                        <a href="@Url.Action("Index", "Store")" class="dropdown-toggle head-link" data-toggle="dropdown">Categories&nbsp;<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            @await Component.InvokeAsync("CategoryMenu")
                                        </ul>
                                    </li>
                                </ul>
                </div> -->

                <div class="three-divs">
                    <ul class="nav navbar-nav navbar-right">
                                    <li style="display: flex;">
                                    <i class="fa fa-home" style="color: #81bc0d;align-self: center;"></i>
                                    <a href="@Url.Action("Index", "Home")" class="head-link" style="padding-left: 5px; font-weight: 500;" id="home-link">Home</a>

                                    </li>
                                    @await Component.InvokeAsync("CartSummary")
                                    @await Html.PartialAsync("_AdminMenu")
                                    @await Html.PartialAsync("_Login")
                                    <li class="dropdown visible-xs">
                                        <a href="@Url.Action("Index", "Store")" class="dropdown-toggle head-link" data-toggle="dropdown">Categories&nbsp;<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            @await Component.InvokeAsync("CategoryMenu")
                                            <i class="fa-regular fa-chevron-right"></i>
                                        </ul>
                                    </li>
                                </ul>
                </div>

            </div>
        </div>
        </header>
        <div class="sub-header">
            @await Component.InvokeAsync("CategoryMenu")
            
        </div>
        <div>
        @RenderSection("prebody", false)
        <div class="container" style="width: auto !important; margin-bottom: 200px;">
            @RenderBody()
        </div>

        </div>
        <div class="clearfix">
        </div>
  </div>
  <footer class="footer-container" id="footer-id">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Site Menu</h4>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Index", "Store")">Browse</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Account</h4>
                            <ul>
                                <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                <li>@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
                                <li>@Html.ActionLink("View Orders", "Index", "Orders", new { Area = string.Empty })</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Additional Info</h4>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4>Develop</h4>
                            <ul>
                                <li><a>GitHub Source</a></li>
                                <li><a>License Agreement</a></li>
                                <li><a href="http://asp.net/" target="_blank">ASP.NET</a></li>
                            </ul>
                            <p>Deploy to Azure</p>
                            <a class="deploy-azure">
                                <img src="/images/deploy_button.png"/>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left-sm">
                                © @DateTime.UtcNow.Year Microsoft. Based on The Phoenix Project by <a href="http://www.realgenekim.me/" class="footer-link">Gene Kim</a>.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-left-sm pull-right-md">
                                All rights reserved. Your payments are safe and secure.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            Site powered by @RuntimeEnvironment.OperatingSystem @RuntimeEnvironment.OperatingSystemVersion
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-zoom/jquery.zoom.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/respond/respond.src.js"></script>
    @RenderSection("scripts", required: false)
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("header-id");

var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
